# Created by .ignore support plugin (hsz.mobi)

.idea/
node_modules/
src/node_modules/
src/scripts/php-test.php
src/js/output.js
output-debug.js
output.js.map
parallel-20171122
package.json
package-lock.json
/output.js
