# Created by .ignore support plugin (hsz.mobi)

.idea/workspace.xml

.idea/deployment.xml
.idea/dataSources
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/php.xml
.idea/wikimap.iml
.idea/
.idea/*
/redirect.sql
/720MB_page_raw.txt
/page_parsed_id.txt
/redirect_parsed.txt
/page_from_php.txt
/700MB_pagelinks.sql
/flippedarray_php.txt
/final_page_php.txt
/redirect_parsed_id.txt
/10MB_parsed_newlines.txt
/redirect_parsed_ids.txt
/pagelinks_final_php.txt
/10MB_page_parsed.txt
/page_final.txt
/redirect_parsed_titles.txt
/sed
/pagelinks_parsed.txt
/page_parsed.txt
/redirect_from_php
/excluded_pagelinks.txt
/page_array_new.txt
/pagelinks_final_TSV.txt
/pagelinks_array_sorted.txt
/pagelinks_array.txt
/pagelinks_array_sorted1.txt
/t0_array.txt
/redirect_array.txt
/pagelinks_all.txt
/Array.txt
/pagelinks_redirects_replaced.txt
/pagelinks_new.txt
/redirects_in_pagelinks.txt
/10MB_page.sql
/redirect_array1.txt
/pagelinks_in_redirect_array.txt
/pagelinks_post_sort.txt
/pagelinks_pre_sort.txt
/page_array.txt
/excluded_pagelinks_sorted.txt
/page_no_redirects.txt
/pagelinks_not_redirect.txt
/pagelinks_shared_links.txt
/pagelinks_no_redirects.txt
/pagelinks_in_redirects.txt
/pagelinks_redirects_merged.txt
/pagelinks_all_sorted.txt
/redirect_array2.txt
/720MB_page.sql
/shell_output.txt
/page_id_array.txt
/pagelinks_titles_to_ids.txt
/pagelinks_corrected_titles.txt
/page_title_array.txt
/pagelinks_redirect_titles.txt
/pagelinks_keys_not_in_database.txt
/pagelinks_titles_not_in_database.txt
/pagelinks_corrected_title_ids.txt
/pagelinks_ids_in_database.txt
/page_title_id_array.txt
/pagelinks_titles_in_database.txt
/pagelinks_from_ids_not_in_database.txt
/page_array missing id.txt
/page_title_tsv.txt
/pagelinks_id_tsv.txt
/redirect_id_tsv.txt
/redirect_title_tsv.txt
/pagelinks_title_tsv.txt
/page_id_tsv.txt
/pagelinks_titles.txt
/pagelinks_titles_in_page.txt
/redirect_correct_ids.txt
/pages.txt
/pagelinks_titles_extra.txt
/pagelinks_to_ids.txt
/redirected_page_ids.txt
/redirects.txt
/pagelinks_ids.txt
/pagelinks_extra_titles_removed.txt
/pagelinks.txt
