body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}
form input{
    border:1px solid #37474f;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
    font-size:18px;
    font-weight:500;
    padding:2px 5px;
    width:600px;
}
button{
    background-color: #37474f;
    color: #fff;
    cursor:pointer;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    height: 30px;
    margin:-2px 0 0 10px;
}

section.response-results{
    font-family: 'Source Code Pro', monospace;
    font-size:14px;
    text-align: center;
}
textarea{
    font-family: 'Source Code Pro', monospace;
    font-size:14px;
    margin:0 auto;
    width:80%;
    height:500px;
}

table.results{
    float:left;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
table.results tr td:nth-child(1){
    font-weight:300;
}
table.results tr td:nth-child(1){
    font-weight:700;
}